<div class="form-input">
  <label class="form-input__label" for="{{name}}">{{label}}</label>
  <input
    class="form-input__input {{#if invalid}}invalid{{/if}}"
    name="{{name}}" id="{{name}}"
    type="{{type}}"
    placeholder="{{placeholder}}"
    value="{{value}}"
    {{#if readonly}}readonly{{/if}}
  >
  {{#if errorMessage}}
    <span class="form-input__errorMessage">{{errorMessage}}</span>
  {{/if}}
</div>